.top {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 450px;
  background-color: #322e4e;
}

.one {
  padding-bottom: 162px;
}

.navbar {
  display: block;
  padding-top: 1px;
  padding-bottom: 0px;
  background-color: transparent;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), -webkit-linear-gradient(270deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), linear-gradient(180deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
  box-shadow: 0 0 6px 0 #fff;
  -webkit-transition: background-color 200ms ease, -webkit-transform 300ms ease;
  transition: background-color 200ms ease, -webkit-transform 300ms ease;
  transition: transform 300ms ease, background-color 200ms ease;
  transition: transform 300ms ease, background-color 200ms ease, -webkit-transform 300ms ease;
  font-family: Exo, sans-serif;
  font-weight: 700;
}

.curitn-logo {
  display: inline-block;
  max-width: 100%;
  margin-right: 285px;
  margin-left: -285px;
  padding: 0px 0px 1px;
  text-align: left;
}

.home {
  right: 1px;
  display: inline-block;
  float: none;
  background-color: transparent;
  font-family: 'Changa One', Impact, sans-serif;
  font-size: 15px;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
}

.home:hover {
  display: inline-block;
  background-color: #fff;
  opacity: 1;
}

.button:hover {
  background-color: #1867ac;
}

.button.green {
  background-color: transparent;
  background-image: -webkit-linear-gradient(270deg, rgba(240, 51, 51, .87), rgba(240, 51, 51, .87));
  background-image: linear-gradient(180deg, rgba(240, 51, 51, .87), rgba(240, 51, 51, .87));
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  -webkit-transition: background-color 200ms ease, color 200ms ease, -webkit-transform 200ms ease;
  transition: background-color 200ms ease, color 200ms ease, -webkit-transform 200ms ease;
  transition: background-color 200ms ease, color 200ms ease, transform 200ms ease;
  transition: background-color 200ms ease, color 200ms ease, transform 200ms ease, -webkit-transform 200ms ease;
  color: hsla(0, 13%, 80%, .88);
}

.button.green:hover {
  background-color: #353f47;
}

.account {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  -webkit-transition: background-color 500ms ease, -webkit-transform 500ms ease;
  transition: background-color 500ms ease, -webkit-transform 500ms ease;
  transition: transform 500ms ease, background-color 500ms ease;
  transition: transform 500ms ease, background-color 500ms ease, -webkit-transform 500ms ease;
  font-family: Exo, sans-serif;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
}

.account:hover {
  background-color: #fff;
}

.rules {
  -webkit-transition: background-color 500ms ease, -webkit-transform 500ms ease;
  transition: background-color 500ms ease, -webkit-transform 500ms ease;
  transition: transform 500ms ease, background-color 500ms ease;
  transition: transform 500ms ease, background-color 500ms ease, -webkit-transform 500ms ease;
  font-family: Exo, sans-serif;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
}

.rules:hover {
  background-color: #fff;
  font-family: Exo, sans-serif;
  font-size: 15px;
}

.search {
  display: block;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: 577px;
  padding-top: 20px;
  -webkit-transition: background-color 500ms ease, -webkit-transform 500ms ease;
  transition: background-color 500ms ease, -webkit-transform 500ms ease;
  transition: transform 500ms ease, background-color 500ms ease;
  transition: transform 500ms ease, background-color 500ms ease, -webkit-transform 500ms ease;
  font-family: Exo, sans-serif;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
}

.search:hover {
  font-family: Exo, sans-serif;
  font-size: 15px;
}

.menubutton {
  left: -1226px;
  display: block;
  -webkit-transition: background-color 500ms ease, -webkit-transform 500ms ease;
  transition: background-color 500ms ease, -webkit-transform 500ms ease;
  transition: transform 500ms ease, background-color 500ms ease;
  transition: transform 500ms ease, background-color 500ms ease, -webkit-transform 500ms ease;
}

.menubutton:hover {
  background-color: #fff;
}

.navmenu {
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
}

.ghar {
  background-color: transparent;
  -webkit-transform: perspective(1522px);
  transform: perspective(1522px);
  -webkit-transform-origin: 65% 50% 0px;
  -ms-transform-origin: 65% 50% 0px;
  transform-origin: 65% 50% 0px;
  -webkit-transition: background-color 500ms ease, opacity 200ms ease, -webkit-transform 300ms ease;
  transition: background-color 500ms ease, opacity 200ms ease, -webkit-transform 300ms ease;
  transition: background-color 500ms ease, transform 300ms ease, opacity 200ms ease;
  transition: background-color 500ms ease, transform 300ms ease, opacity 200ms ease, -webkit-transform 300ms ease;
  font-family: Exo, sans-serif;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
}

.ghar:hover {
  background-color: #fff;
}

.userpic {
  margin-left: 80px;
  padding-top: 120px;
  padding-left: 0px;
}

.tablink {
  width: 18%;
  margin-right: 3px;
  padding-top: 13px;
  padding-bottom: 13px;
}

.tab {
  width: 18%;
  min-width: 0px;
  margin-top: 20px;
  margin-right: 5px;
  padding-top: 11px;
  padding-bottom: 11px;
  border-radius: 2px;
  background-color: rgba(59, 59, 61, .91);
  box-shadow: inset 0 0 2px 2px hsla(0, 0%, 100%, .36), 0 0 0 2px rgba(66, 66, 66, .93);
  -webkit-transition: background-color 500ms ease, -webkit-transform 500ms ease;
  transition: background-color 500ms ease, -webkit-transform 500ms ease;
  transition: transform 500ms ease, background-color 500ms ease;
  transition: transform 500ms ease, background-color 500ms ease, -webkit-transform 500ms ease;
  color: #fff;
  font-size: 16px;
  text-align: center;
}

.tab:hover {
  background-color: rgba(99, 100, 102, .86);
}

.tab.w--current {
  background-color: rgba(59, 59, 61, .91);
}

.tab.w--current:hover {
  background-color: rgba(99, 100, 102, .86);
}

.tab.design.w--current {
  background-color: #3d3b3d;
}

.tab.act:active {
  background-color: #7a1014;
}

.tab.bas.w--current {
  background-color: rgba(73, 34, 75, .91);
}

.tab.contact.w--current {
  background-color: rgba(187, 22, 180, .91);
}

.tab.add.w--current {
  background-color: rgba(211, 115, 228, .91);
}

.tab.stat.w--current {
  background-color: rgba(46, 46, 221, .86);
}

.tab.activity.w--current {
  background-color: rgba(204, 34, 34, .91);
}

.first {
  padding-bottom: 102px;
  background-color: transparent;
  background-image: -webkit-linear-gradient(270deg, rgba(11, 29, 73, .86), rgba(11, 29, 73, .86));
  background-image: linear-gradient(180deg, rgba(11, 29, 73, .86), rgba(11, 29, 73, .86));
}

.container1 {
  height: 900px;
  background-color: transparent;
  background-image: url('../images/Curtin_N25.jpg');
  background-position: 50% 0px;
  background-size: cover;
  background-repeat: repeat;
  opacity: 0.83;
}

.heading1 {
  display: block;
  height: auto;
  margin: 40px auto 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 0px;
  font-family: Exo, sans-serif;
  color: #000;
  text-align: center;
}

.photo {
  display: block;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding-right: 0px;
  padding-bottom: 0px;
}

.tabpane {
  height: 200px;
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
}

.tabs-menu {
  position: relative;
  right: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  width: 700px;
  margin-right: auto;
  margin-bottom: 40px;
  margin-left: auto;
  padding-right: 0px;
  padding-left: 0px;
  float: none;
  clear: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.cinfo {
  display: block;
  height: 350px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding-top: 20px;
  padding-left: 100px;
  -webkit-transition: opacity 200ms ease, -webkit-transform 200ms ease;
  transition: opacity 200ms ease, -webkit-transform 200ms ease;
  transition: transform 200ms ease, opacity 200ms ease;
  transition: transform 200ms ease, opacity 200ms ease, -webkit-transform 200ms ease;
  font-family: Exo, sans-serif;
  font-size: 15px;
  font-weight: 700;
}

.binfo {
  display: inline-block;
  height: 350px;
  padding-top: 20px;
  padding-left: 100px;
  font-family: Exo, sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0px;
}

.ainfo {
  height: 350px;
  padding-top: 20px;
  padding-left: 100px;
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
  font-family: Exo, sans-serif;
  font-size: 15px;
  font-weight: 700;
}

.sinfo {
  height: 350px;
  padding-top: 20px;
  padding-left: 100px;
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
  font-family: Exo, sans-serif;
  font-size: 15px;
  font-weight: 700;
}

.pic {
  display: inline-block;
  margin-right: 0px;
  margin-left: 0px;
  padding-left: 0px;
  font-size: 14px;
  text-align: left;
}

.icon {
  background-color: transparent;
}

.icon:hover {
  background-color: transparent;
}

.link1 {
  background-color: transparent;
  color: #000;
}

.link1:hover {
  background-color: #806c6c;
}

.mid-container {
  display: block;
  height: 550px;
  margin: 75px auto 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-radius: 0px;
  background-color: transparent;
  background-image: -webkit-linear-gradient(270deg, hsla(0, 0%, 100%, .91), hsla(0, 0%, 100%, .91));
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .91), hsla(0, 0%, 100%, .91));
  box-shadow: 0 0 5px 5px rgba(59, 59, 61, .91);
  opacity: 1;
}

.background {
  display: block;
  overflow: auto;
  height: 55%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
  background-color: transparent;
  background-image: -webkit-linear-gradient(270deg, rgba(141, 185, 194, .27), rgba(141, 185, 194, .27)), url('../images/Curtin_N25.jpg');
  background-image: linear-gradient(180deg, rgba(141, 185, 194, .27), rgba(141, 185, 194, .27)), url('../images/Curtin_N25.jpg');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, cover;
  background-repeat: repeat, repeat;
}

.drop {
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.container {
  display: block;
  margin: 0px auto;
  padding-right: 100px;
  padding-left: 0px;
  background-image: url('../images/Curtin_N25.jpg'), -webkit-linear-gradient(270deg, hsla(0, 0%, 100%, .72), hsla(0, 0%, 100%, .72));
  background-image: url('../images/Curtin_N25.jpg'), linear-gradient(180deg, hsla(0, 0%, 100%, .72), hsla(0, 0%, 100%, .72));
  background-position: 0px 0px, 0px 0px;
  background-size: cover, auto;
}

.submit {
  margin-left: 0px;
  border-radius: 5px;
}

.submit:hover {
  background-color: #7bb1e0;
}

.form {
  margin-top: -428px;
  margin-bottom: 6px;
  margin-left: 42px;
  padding-right: 300px;
  padding-bottom: 12px;
  padding-left: 251px;
  background-image: -webkit-linear-gradient(270deg, hsla(0, 0%, 89%, .5), hsla(0, 0%, 89%, .5));
  background-image: linear-gradient(180deg, hsla(0, 0%, 89%, .5), hsla(0, 0%, 89%, .5));
}

.field1 {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.security-text {
  font-family: Exo, sans-serif;
}

.dropdown {
  background-image: -webkit-linear-gradient(270deg, transparent, transparent);
  background-image: linear-gradient(180deg, transparent, transparent);
  -webkit-transition: background-color 200ms ease, -webkit-transform 500ms ease;
  transition: background-color 200ms ease, -webkit-transform 500ms ease;
  transition: background-color 200ms ease, transform 500ms ease;
  transition: background-color 200ms ease, transform 500ms ease, -webkit-transform 500ms ease;
}

.dropdown:hover {
  background-color: #727272;
}

.div-back {
  margin-bottom: 0px;
  padding-top: 898px;
  padding-bottom: 0px;
  background-image: url('../images/Curtin_N25.jpg');
  background-position: 0px 0px;
  background-size: auto;
}

.divb {
  padding-top: 288px;
  padding-bottom: 273px;
  background-image: url('../images/Curtin_N25.jpg');
  background-position: 0px 0px;
  background-size: 1643px;
}

.email {
  display: block;
  width: 550px;
  height: 220px;
  min-width: 0px;
  margin-right: auto;
  margin-left: 0px;
  padding-right: 30px;
  padding-left: 30px;
  text-align: left;
}

.inner {
  display: block;
  width: 550px;
  height: 275px;
  margin: 0px auto;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  border-radius: 0px;
  background-image: -webkit-linear-gradient(270deg, rgba(95, 24, 24, .77), rgba(95, 24, 24, .77));
  background-image: linear-gradient(180deg, rgba(95, 24, 24, .77), rgba(95, 24, 24, .77));
  box-shadow: 0 0 5px 5px hsla(0, 0%, 100%, .38);
  text-align: left;
}

.wrapper {
  display: block;
  width: 730px;
  margin-right: auto;
  margin-left: auto;
}

.secret-text {
  font-family: Exo, sans-serif;
  font-weight: 700;
}

.resetpw {
  -webkit-transition: background-color 200ms ease, -webkit-transform 500ms ease;
  transition: background-color 200ms ease, -webkit-transform 500ms ease;
  transition: transform 500ms ease, background-color 200ms ease;
  transition: transform 500ms ease, background-color 200ms ease, -webkit-transform 500ms ease;
  text-align: center;
}

.resetpw:hover {
  background-color: #fff;
}

.back {
  height: 35px;
  margin: -172px 25px -46px 46px;
  padding: 8px 40px 0px 37px;
  font-family: Exo, sans-serif;
  font-weight: 700;
  text-align: center;
}

.back:hover {
  background-color: #6690b4;
}

.body {
  background-image: -webkit-linear-gradient(270deg, rgba(97, 95, 95, .28), rgba(97, 95, 95, .28)), url('../images/Curtin_N25.jpg');
  background-image: linear-gradient(180deg, rgba(97, 95, 95, .28), rgba(97, 95, 95, .28)), url('../images/Curtin_N25.jpg');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, cover;
}

.logo {
  display: block;
  width: 327px;
  height: 60px;
  margin-right: auto;
  margin-left: auto;
}

.navlink {
  height: auto;
  margin-right: 5px;
  border-radius: 2px;
  box-shadow: inset 0 0 2px 2px hsla(0, 0%, 97%, .26), 0 0 0 2px rgba(59, 59, 61, .91);
  -webkit-transition: background-color 500ms ease, -webkit-transform 500ms ease;
  transition: background-color 500ms ease, -webkit-transform 500ms ease;
  transition: transform 500ms ease, background-color 500ms ease;
  transition: transform 500ms ease, background-color 500ms ease, -webkit-transform 500ms ease;
  font-family: Exo, sans-serif;
  font-size: 15px;
  font-weight: 700;
}

.navlink:hover {
  border-radius: 0px;
  background-color: #5e8ee4;
  background-image: none;
  box-shadow: inset 0 0 2px 2px hsla(0, 0%, 97%, .74), 0 0 0 2px rgba(59, 59, 61, .14);
}

.navlink.w--current {
  color: #000;
}

.navlink.w--current:hover {
  border-radius: 2px;
}

.narvbar {
  display: block;
  width: 1232px;
  margin-right: auto;
  margin-left: auto;
  background-color: transparent;
}

.profilepic {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.tabs {
  width: auto;
  padding-top: 12px;
  padding-bottom: 12px;
}

.tabs.w--current {
  padding-bottom: 18px;
}

.login {
  display: block;
  width: 400px;
  height: 450px;
  margin-top: 70px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-bottom: 0px;
  padding-left: 20px;
  border-radius: 0px;
  background-image: -webkit-linear-gradient(270deg, hsla(0, 0%, 100%, .77), hsla(0, 0%, 100%, .77));
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .77), hsla(0, 0%, 100%, .77));
  box-shadow: 0 0 5px 5px hsla(0, 0%, 100%, .38);
  opacity: 1;
  text-decoration: none;
}

.field {
  display: block;
  margin-right: auto;
  margin-left: 0px;
  padding-top: 0px;
  padding-left: 20px;
  font-family: Exo, sans-serif;
  color: rgba(59, 59, 61, .91);
  font-size: 17px;
  font-weight: 500;
  text-align: left;
  text-decoration: none;
}

.loginheading {
  display: block;
  width: 150px;
  height: 40px;
  margin: 40px auto 10px;
  padding: 25px 0px 60px;
  font-family: Exo, sans-serif;
  color: rgba(59, 59, 61, .91);
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
}

.formwrap {
  display: block;
  width: 600px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding-top: 0px;
  padding-left: 0px;
  text-decoration: none;
}

.loginbutton {
  display: block;
  width: 30%;
  height: 8%;
  margin-top: 17px;
  margin-left: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  float: left;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 0px;
  -webkit-transition: background-color 500ms ease, -webkit-transform 500ms ease;
  transition: background-color 500ms ease, -webkit-transform 500ms ease;
  transition: transform 500ms ease, background-color 500ms ease;
  transition: transform 500ms ease, background-color 500ms ease, -webkit-transform 500ms ease;
  font-family: Exo, sans-serif;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
}

.loginbutton:hover {
  background-color: #a531e6;
}

._2container {
  display: block;
  height: 500px;
  margin-top: 215px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
}

._2-formbox {
  display: block;
  width: 500px;
  height: 400px;
  margin: -50px auto 0px;
  padding: 15px 25px 30px;
  background-image: -webkit-linear-gradient(270deg, rgba(95, 24, 24, .77), rgba(95, 24, 24, .77));
  background-image: linear-gradient(180deg, rgba(95, 24, 24, .77), rgba(95, 24, 24, .77));
  box-shadow: 0 0 5px 5px hsla(0, 0%, 100%, .38);
}

._1container {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 125px;
}

._1section {
  margin-left: 0px;
}

._2field {
  margin-bottom: 0px;
  font-family: Exo, sans-serif;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}

._2f2 {
  display: block;
  margin-top: 6px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  padding-right: 12px;
  padding-bottom: 0px;
  font-family: Exo, sans-serif;
  font-size: 15px;
  font-weight: 500;
}

.formwrapper {
  margin-right: 120px;
  margin-left: 120px;
}

.signup {
  margin-bottom: 20px;
  font-family: Exo, sans-serif;
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}

._4nav {
  font-family: Exo, sans-serif;
  font-size: 17px;
  font-weight: 500;
}

.signupbutton {
  display: block;
  width: 30%;
  height: 8%;
  margin-top: -50px;
  margin-right: 18px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  float: right;
  border-radius: 0px;
  -webkit-transition: background-color 500ms ease, -webkit-transform 500ms ease;
  transition: background-color 500ms ease, -webkit-transform 500ms ease;
  transition: transform 500ms ease, background-color 500ms ease;
  transition: transform 500ms ease, background-color 500ms ease, -webkit-transform 500ms ease;
  font-family: Exo, sans-serif;
  font-weight: 500;
  text-align: center;
}

.signupbutton:hover {
  background-color: #a531e6;
}

._3container {
  margin-top: 174px;
}

._3f3 {
  margin-top: -15px;
  padding-top: 0px;
  font-family: Exo, sans-serif;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
}

.heading2 {
  display: block;
  margin: 20px auto 35px;
  padding-top: 40px;
  padding-bottom: 0px;
  font-family: Exo, sans-serif;
  color: #fff;
  font-weight: 700;
  text-align: center;
}

.signout {
  position: static;
  display: block;
  overflow: visible;
  width: 600px;
  height: auto;
  margin: 10px auto;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 0px;
  float: none;
  clear: none;
  font-family: Exo, sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.signcontainer {
  display: block;
  margin-top: 150px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  border-radius: 15px;
  background-image: -webkit-linear-gradient(270deg, hsla(0, 0%, 100%, .79), hsla(0, 0%, 100%, .79));
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .79), hsla(0, 0%, 100%, .79));
  box-shadow: 0 0 20px 5px #000;
}

.brand {
  display: block;
  width: auto;
  height: auto;
  margin-right: 0px;
  margin-left: auto;
  float: left;
}

.navibar {
  background-color: transparent;
}

.curtinlogo {
  display: block;
  margin-right: 0px;
  float: none;
}

.navcontainer {
  padding-top: 0px;
}

.successmesage {
  width: 500px;
  margin-right: auto;
  margin-left: 65px;
  padding-left: 0px;
  border-radius: 10px;
  box-shadow: 0 0 20px 5px #000;
  font-family: Exo, sans-serif;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
}

.homecontainer {
  height: 466px;
  margin-top: 75px;
  background-image: -webkit-linear-gradient(270deg, hsla(0, 0%, 100%, .78), hsla(0, 0%, 100%, .78));
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .78), hsla(0, 0%, 100%, .78));
}

.searchbutton {
  display: block;
  width: 150px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 12px;
  background-image: -webkit-linear-gradient(270deg, rgba(68, 102, 124, .18), rgba(68, 102, 124, .18));
  background-image: linear-gradient(180deg, rgba(68, 102, 124, .18), rgba(68, 102, 124, .18));
  font-family: Exo, sans-serif;
  font-weight: 500;
}

.new {
  display: block;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: 620px;
  padding-top: 20px;
  padding-right: 0px;
  padding-left: 0px;
}

.divblock {
  position: relative;
}

.divlight {
  position: relative;
}

.divagain {
  position: absolute;
  z-index: 1;
  width: 100px;
  height: 100px;
}

.row {
  padding: 20px;
}

.sear {
  display: block;
  margin-right: auto;
  margin-left: 624px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.catpig:hover {
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .92), rgba(0, 0, 0, .92));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .92), rgba(0, 0, 0, .92));
}

.modal {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 3;
  height: auto;
}

.modalwindow {
  padding: 16px;
}

.newsub {
  display: block;
  width: 640px;
  height: 219px;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 30px;
  padding-right: 30px;
  padding-left: 30px;
  background-image: -webkit-linear-gradient(270deg, rgba(8, 10, 59, .5), rgba(8, 10, 59, .5));
  background-image: linear-gradient(180deg, rgba(8, 10, 59, .5), rgba(8, 10, 59, .5));
}

.modalwapper {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 9999;
  height: 100%;
  padding-top: 90px;
  background-color: rgba(0, 0, 0, .54);
  text-align: center;
}

.sinowrapper {
  display: block;
  width: 450px;
  margin-right: auto;
  margin-left: auto;
  padding: 40px;
  background-color: #fff;
}

.testf {
  height: 50px;
  border: 2px solid #22c6e6;
}

.closelink {
  display: block;
  padding-bottom: 30px;
  color: rgba(97, 87, 87, .63);
}

.closelink:hover {
  color: rgba(255, 101, 14, .63);
}

.post {
  border-color: #8fbae2;
}

.newbutton {
  display: block;
  width: 70px;
  height: auto;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
  border-radius: 6px;
  font-family: Exo, sans-serif;
  font-weight: 400;
  text-align: center;
}

.newbutton:hover {
  background-color: #a531e6;
}

.catcontainer {
  height: 138px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-image: -webkit-linear-gradient(270deg, hsla(0, 0%, 100%, .97), hsla(0, 0%, 100%, .97));
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .97), hsla(0, 0%, 100%, .97));
}

.newbox {
  display: block;
  width: 475px;
  float: none;
}

.newbutt {
  display: block;
  width: 100px;
  margin: 50px auto 10px;
  padding-bottom: 9px;
  float: none;
  clear: none;
  border-radius: 10px;
  -webkit-transition: background-color 500ms ease, -webkit-transform 500ms ease;
  transition: background-color 500ms ease, -webkit-transform 500ms ease;
  transition: transform 500ms ease, background-color 500ms ease;
  transition: transform 500ms ease, background-color 500ms ease, -webkit-transform 500ms ease;
  text-align: center;
}

.newbutt:hover {
  background-color: #a531e6;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

.newform {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.textbox {
  display: block;
  width: 570px;
  margin-right: auto;
  margin-left: auto;
  padding: 15px;
}

.textform {
  margin-bottom: 0px;
  padding-top: 1px;
  padding-bottom: 20px;
  background-color: transparent;
}

.profileimage {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
}

.col1 {
  display: block;
  padding-left: 30px;
  border-color: #000;
}

.userblock {
  text-align: center;
}

.usersub {
  padding: 20px;
}

.usercol {
  display: block;
  width: 530px;
  margin-right: auto;
  margin-left: auto;
}

.userbutt {
  margin-right: 485px;
  margin-left: 0px;
  float: right;
}

.catheading {
  display: block;
  margin: 50px auto 20px;
  font-family: Exo, sans-serif;
  text-align: center;
  text-decoration: underline;
}

.cathov {
  border-width: 0px;
  border-color: transparent;
  border-right-style: solid;
  border-radius: 0px;
  background-color: transparent;
  box-shadow: 0 0 40px 0 #000;
}

.cathov:hover {
  background-color: transparent;
}

.text-field {
  margin-bottom: 15px;
  padding-bottom: 0px;
  font-family: Exo, sans-serif;
  font-size: 15px;
  font-weight: 500;
}

.curtinidfieldbox {
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.passwordfieldbox {
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.checkbox-field {
  display: block;
  width: 40%;
  margin: 0px auto 2px 0px;
  padding-top: 25px;
  padding-bottom: 6px;
  padding-left: 225px;
}

.submit-button {
  display: block;
  width: 85px;
  margin-top: 15px;
  margin-left: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  float: left;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 0px;
  -webkit-transition: background-color 500ms ease, -webkit-transform 500ms ease;
  transition: background-color 500ms ease, -webkit-transform 500ms ease;
  transition: transform 500ms ease, background-color 500ms ease;
  transition: transform 500ms ease, background-color 500ms ease, -webkit-transform 500ms ease;
  font-family: Exo, sans-serif;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
}

.submit-button:hover {
  background-color: #a531e6;
}

.resetbutton {
  display: block;
  width: 85px;
  margin-top: 25px;
  margin-left: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  float: left;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 0px;
  -webkit-transition: background-color 500ms ease, -webkit-transform 500ms ease;
  transition: background-color 500ms ease, -webkit-transform 500ms ease;
  transition: transform 500ms ease, background-color 500ms ease;
  transition: transform 500ms ease, background-color 500ms ease, -webkit-transform 500ms ease;
  font-family: Exo, sans-serif;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
}

.resetbutton:hover {
  background-color: #a531e6;
}

.div-block {
  display: block;
  width: 75px;
  height: 75px;
  margin-top: 28px;
  margin-bottom: -127px;
  padding-top: 0px;
  float: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.image {
  margin-left: 10px;
  padding-left: 0px;
  background-color: #fff;
}

.container-2 {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  clear: right;
}

.navbar-2 {
  left: 0px;
  top: 0px;
  bottom: 0px;
}

.nav-menu {
  background-color: #333;
}

.nav-link {
  color: #fff;
}

.nav-link:hover {
  background-color: rgba(99, 100, 102, .86);
  box-shadow: 0 0 6px 0 #fff;
}

.nav-link-2 {
  background-color: transparent;
  color: #fff;
}

.nav-link-2:hover {
  background-color: rgba(99, 100, 102, .86);
}

.nav-link-3 {
  background-color: transparent;
  color: #fff;
}

.nav-link-3:hover {
  background-color: rgba(99, 100, 102, .86);
}

.nav-link-4 {
  color: #fff;
}

.nav-link-4:hover {
  background-color: rgba(99, 100, 102, .86);
}

.div-block-2 {
  position: absolute;
  left: 0px;
  top: 0px;
}

.studentnav {
  display: block;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  background-color: #333;
}

.navicons {
  position: relative;
  display: inline-block;
  float: none;
  clear: none;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  color: #fff;
}

.navicons:hover {
  background-color: #17a2c5;
  box-shadow: inset 0 0 4px 0 #fff, 0 0 15px 0 #fff;
}

.container-3 {
  height: 88%;
  background-color: hsla(0, 0%, 100%, .92);
}

.unitheading {
  text-align: center;
}

.heading {
  display: block;
  text-align: center;
}

.heading-2 {
  text-align: center;
}

.section {
  text-align: center;
}

.field-label {
  display: block;
  width: 150px;
  margin: 0px auto 0px 0px;
  font-family: Exo, sans-serif;
  color: rgba(59, 59, 61, .91);
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
}

.checkbox {
  margin-top: 3px;
}

.div-block-3 {
  width: 75px;
  height: 75px;
  margin-top: -75px;
  margin-left: 397px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.image-2 {
  margin-top: -18px;
  margin-left: 36px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.resettbutton {
  width: 50%;
  margin-top: 15px;
  margin-left: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
  text-align: center;
}

.resettbutton:hover {
  background-color: #a531e6;
}

.div-block-4 {
  padding-top: 0px;
  padding-bottom: 0px;
  border: 3px solid #a531e6;
  background-color: #fff;
  font-size: 15px;
}

.image-3 {
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
}

.heading-3 {
  position: static;
  left: 0px;
  top: 0px;
  display: block;
  width: 300px;
  margin-top: -46px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  direction: ltr;
  font-family: Exo, sans-serif;
  color: #0007af;
  font-size: 36px;
  font-weight: 500;
  text-align: center;
}

.text-span {
  display: block;
  overflow: visible;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  float: none;
}

.heading-4 {
  width: 50%;
  margin-left: 18px;
  font-family: Exo, sans-serif;
  color: rgba(0, 0, 0, .73);
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

.brand-2 {
  left: 0px;
  top: 0px;
  display: block;
}

.loginnavbar {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  height: 9%;
  padding-top: 0px;
  padding-bottom: 0px;
  border-style: solid;
  border-width: 3px;
  border-color: rgba(0, 0, 0, .73);
}

.navoptions {
  position: relative;
  top: 0px;
  right: -245px;
  display: inline-block;
  margin-top: 10px;
  margin-right: -180px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-family: Exo, sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

.navoptions:hover {
  font-weight: 700;
  text-decoration: underline;
}

.image-4 {
  margin-top: 10px;
  padding-left: 10px;
}

.btmoptions {
  position: relative;
  right: -110px;
  margin-top: 10px;
  margin-right: -330px;
  font-family: Exo, sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.btmoptions:hover {
  font-weight: 700;
  text-decoration: underline;
}

.btmnavbar {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 9%;
  border-style: solid;
  border-width: 3px;
  border-color: rgba(0, 0, 0, .73);
}

html.w-mod-js *[data-ix="modal"] {
  display: none;
  opacity: 0;
}

html.w-mod-js *[data-ix="display-none-on-load"] {
  display: none;
}

@media (max-width: 991px) {
  .navbar {
    opacity: 0.94;
  }
  .navlink:hover {
    background-color: transparent;
  }
  .signout {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media (max-width: 767px) {
  .tab.add {
    text-align: center;
  }
  .textt {
    direction: ltr;
    font-family: Exo, sans-serif;
    font-size: 16px;
    text-align: center;
  }
}

@media (max-width: 479px) {
  .curitn-logo {
    margin-left: -2px;
  }
  .menubutton {
    display: block;
    margin-right: 14px;
    margin-left: -41px;
    padding-right: 73px;
    padding-left: 0px;
  }
  .tabs-menu {
    height: 350px;
    margin-right: -1210px;
    margin-left: 2px;
    padding-right: 3px;
    padding-left: 40px;
  }
  .mid-container {
    height: 943px;
  }
}